@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html, div, h1, h2, h3, h4, h5, h6,p{
  font-family: 'Plus Jakarta Sans', sans-serif !important;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  }

.spinner {
  animation: spin infinite 2s linear;
}




body{
margin: 0;
}

a{
  text-decoration: none;
}

